[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gdm"]
	path = gdm
	url = https://github.com/fitzlab-al/gdm
	shallow = true
	registered = true
